@model IEnumerable<TvPlaylistManager.Domain.Models.M3u.M3UPlaylist>

@{
    ViewData["Title"] = "Index";
}

<div>
    <div class="row mb-2">
        <div class="col d-flex justify-content-start">
            <h3>Tv Playlists</h3>
        </div>
        <div class="col d-flex justify-content-end">
            <a class="btn btn-primary" asp-action="Create">
                Add New
            </a>
        </div>
    </div>
    <table class="table table-bordered text-center">
        <thead>
            <tr>
                <th scope="col" class="justify-content-center">#</th>

                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Url)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedAt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UpdatedAt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EpgSource)
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.OrderBy(x => x.Name).Select((value, index) => new { value, index }))
            {
                <tr>
                    <td>
                        @(item.index + 1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.value.Name)
                    </td>
                    <td>
                        <a href="@Html.DisplayFor(modelItem => item.value.Url)">@Html.DisplayFor(modelItem => item.value.Url)</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.value.CreatedAt)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.value.UpdatedAt)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.value.EpgSource.Alias)
                    </td>
                    <td class="text-center">
                        <a asp-action="Details" asp-route-id="@item.value.Id" class="btn btn-sm btn-primary" title="Details">
                            <i class="bi bi-eye"></i>
                        </a>
                        <a asp-action="Edit" asp-route-id="@item.value.Id" class="btn btn-sm btn-warning" title="Edit">
                            <i class="bi bi-pencil"></i>
                        </a>
                        <a asp-action="Delete" asp-route-id="@item.value.Id" class="btn btn-sm btn-danger" title="Delete">
                            <i class="bi bi-trash"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>